<!DOCTYPE>
<html>
	<body>
		<div>
		    <form action = "{{ url_for('add_product') }}" method = "POST">
				<p>
				Product Name:
				<input type = "text" placeholder = "Product Name" name = "product_name"/> 
				<br> Price: 
				<input type = "text" placeholder = "Price" name = "price"/>
				<br> Image: 
				<input type = "file" placeholder = "Image" name = "image"/> 
				<br> Description: 
				<input type = "text" placeholder = "Description" name = "description"/>
				<br> Vendor Number: 
				<input type = "text" placeholder = "Vendor Number" name = "vendor_id"/> 
				</p>
				<p>
				<input type = "submit" name = "submit" value="Create Product">
				</p>
			</form>

		</div>
	</body>
</html>