<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<!-- 	<div style="background-color:#37FDFC; width:200px; height:200px; border-radius:50%">
		<div style="height: 10em; display: flex; align-items: center; justify-content: center; font-size:20px">GroupDeal</div>
	</div> -->
	<div style="
    overflow: hidden;
    white-space: nowrap; display:flex">
		<div>
			<img src="static/images/quicklogo.png" alt="logo">
		</div>
		<!-- <div style="border-left: thick dotted #000000"></div> -->
		<div style="display: flex;
  flex-direction: column;
  justify-content: center;">
			<form>
			<label for="login_user">Username<label>
			<input type="text" id="login_user" name="login"><br>
			<label for="login_pass">Password <label>
			<input type="password" id="login_pass" name="login">

		</form>
		</div>
		
	</div>

This is the front page of the site.
MUST HAVE
Login Button
Sign Up Button 

List of Projects to Display in some sort of order (most pledged)
- Each project should have (Retrieved From Database)
Title,
Vendor Name
Desciption 
Current Price
Amount Needed Until Next Price

</body>
</html>