<!DOCTYPE html>
<html>
	<body>
NO CLUE HOW THIS PAGE IS GOING TO WORK

thinking its a form, 
title, description, automatically should pull vendor name 
Have up to 10 pricing brackets? Hidden until needed
Main Image for the Product
Video Option 
And Description which should somehow be stored as HTML with styles in it. 

		<form>
			<label for="login_user">Username<label>
			<input type="text" id="login_user" name="login"><br>
			<label for="login_pass">Password <label>
			<input type="password" id="login_pass" name="login">
		</form>


	</body>
</html>