<!DOCTYPE>
<html>
	<body>

		{% extends "base_gd.html" %}
		{% block content %}
		<div>
		    <h1>Sample Page 1</h1>
		    <h3>{{title}}</h3>
		    <p>Description:  {{description}}</p>
		    <p>Current Price: {{currentPrice}}</p>
		    <p>Next Price: {{nextPrice}}
		    <p>How many people bought already:  {{amountContributers}}</p>
		    <p>How many people need to buy to lower price:  {{amountContriNeeded}}</p>
		    <h3>Join This Campaign!</h3>
		    <form action = "{{ url_for('add_pledge') }}" method = "POST">
				<p>
				First Name: 
				<input type = "text" placeholder = "Enter your first name" name = "name_first"/> 
				Last Name: 
				<input type = "text" placeholder = "Enter your last name" name = "name_last"/>
				</p>
				<p>
				<input type = "submit" name = "submit_currentPrice" value="Pledge At Current Price {{currentPrice}}">
				</p>
				Pledge a different price: 
				<input type = "number" placeholder = "Amount willing to pay" name = "price_willing"/>
				<input type = "submit" name = "submit_otherPrice" value="Pledge At Another Price">
			</form>

		</div>

		{% endblock %}
	</body>
</html>